.productCompContainer{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #314e52;
}

.productImageContainer{
    display: flex;
    height: 30rem;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
}

.productImage{
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.carouselContainer{
    display: flex;
}

.carouselImageContainer{
    height: 100px;
    width: 100px;
    border: 1px solid #314e52;
    border-radius: 10px;
    margin: 5px;
    display: flex;
}

.productImageSmall{
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin: auto;
}

.productDetailsContainer{
    width: 100%;
    height: 100%;
}

.productName{
    font-size: 4rem;
    margin: 30px 0 50px 0;
    padding: 0;
}

.productPriceContainer{
    display: flex;

}

.productPriceContainer p{
    font-size: 2rem;
    font-weight: 600;
    margin-right: 20px;
}

.productSellingPrice{
    text-decoration: line-through;
}

.productTax{
    font-size: 1.2rem;
    color: green;
    font-weight: 500;
}

.cartBuyBtn button{
    padding: 0.8rem 4rem;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    /* font-size: 1.2rem; */
    font-weight: 500;
}

.cartBtn{
    background-color: #E7E6E1;
    color: #314e52;
}

.editBtn{
    background-color: #E7E6E1;
    color: #314e52;
}

.buyBtn{
    background-color: #314e52;
    color: #E7E6E1;
}

.deleteBtn {
    background-color: #cf0000;
    color: #E7E6E1;
    font-size: 1em;
}